*.ps1
*.sh
/evaluation/result/
/experiment/project/
/supplementary_experiments/evaluation/result/
/supplementary_experiments/experiment/project/
/supplementary_experiments/dataset/project/py/lerobot/lerobot/tests/artifacts/

**/.git/
**/.idea/
**/.venv/
**/venv/
**/__pycache__/
**/target/
