<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Delphi"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Pascal"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="Sql"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="akka-bbb-apps">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="scala">
              <dir
                name="org">
                <dir
                  name="bigbluebutton">
                  <dir
                    name="core">
                    <dir
                      name="util">
                      <dir
                        name="jhotdraw"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="bigbluebutton">
                  <dir
                    name="xml"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="universal">
            <dir
              name="conf"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="akka-bbb-fsesl">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="bigbluebutton">
                  <dir
                    name="freeswitch">
                    <dir
                      name="voice">
                      <dir
                        name="commands"/>
                      <dir
                        name="events"/>
                      <dir
                        name="freeswitch">
                        <dir
                          name="actions"/>
                        <dir
                          name="response"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
          <dir
            name="universal">
            <dir
              name="conf"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-common-message">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="bigbluebutton">
                  <dir
                    name="common2">
                    <dir
                      name="redis">
                      <dir
                        name="pubsub"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-common-web">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="db">
                <dir
                  name="migration"/>
              </dir>
              <dir
                name="org">
                <dir
                  name="bigbluebutton">
                  <dir
                    name="api">
                    <dir
                      name="domain"/>
                    <dir
                      name="messaging">
                      <dir
                        name="converters">
                        <dir
                          name="messages"/>
                      </dir>
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="model">
                      <dir
                        name="constraint">
                        <dir
                          name="list"/>
                      </dir>
                      <dir
                        name="entity"/>
                      <dir
                        name="request"/>
                      <dir
                        name="shared"/>
                      <dir
                        name="validator"/>
                    </dir>
                    <dir
                      name="pub"/>
                    <dir
                      name="service">
                      <dir
                        name="impl"/>
                    </dir>
                    <dir
                      name="util"/>
                  </dir>
                  <dir
                    name="api2">
                    <dir
                      name="domain"/>
                  </dir>
                  <dir
                    name="common">
                    <dir
                      name="messages"/>
                  </dir>
                  <dir
                    name="presentation">
                    <dir
                      name="handlers"/>
                    <dir
                      name="imp"/>
                    <dir
                      name="messages"/>
                  </dir>
                  <dir
                    name="web">
                    <dir
                      name="services">
                      <dir
                        name="callback"/>
                      <dir
                        name="turn"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
          <dir
            name="test">
            <dir
              name="resources">
              <dir
                name="sample-recording">
                <dir
                  name="foo"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-export-annotations">
        <dir
          name="config"/>
        <dir
          name="lib">
          <dir
            name="utils"/>
        </dir>
        <dir
          name="workers"/>
      </dir>
      <dir
        name="bbb-fsesl-client">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="freeswitch">
                  <dir
                    name="esl">
                    <dir
                      name="client">
                      <dir
                        name="example"/>
                      <dir
                        name="inbound"/>
                      <dir
                        name="internal">
                        <dir
                          name="debug"/>
                      </dir>
                      <dir
                        name="manager">
                        <dir
                          name="internal"/>
                      </dir>
                      <dir
                        name="outbound">
                        <dir
                          name="example"/>
                      </dir>
                      <dir
                        name="transport">
                        <dir
                          name="event"/>
                        <dir
                          name="message"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="freeswitch">
                  <dir
                    name="esl">
                    <dir
                      name="client">
                      <dir
                        name="inbound"/>
                      <dir
                        name="outbound"/>
                      <dir
                        name="transport">
                        <dir
                          name="message"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-graphql-client-test">
        <dir
          name="public"/>
        <dir
          name="src"/>
      </dir>
      <dir
        name="bbb-graphql-middleware">
        <dir
          name="demo">
          <dir
            name="client"/>
        </dir>
      </dir>
      <dir
        name="bbb-graphql-server"/>
      <dir
        name="bbb-learning-dashboard">
        <dir
          name="public"/>
        <dir
          name="src">
          <dir
            name="components">
            <dir
              name="UserDetails"/>
          </dir>
          <dir
            name="services"/>
          <dir
            name="utils">
            <dir
              name="hooks"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-recording-imex">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="bigbluebutton"/>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="bigbluebutton"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="bbb-voice-conference">
        <dir
          name="config">
          <dir
            name="freeswitch">
            <dir
              name="conf">
              <dir
                name="autoload_configs"/>
              <dir
                name="dialplan">
                <dir
                  name="default"/>
                <dir
                  name="public"/>
              </dir>
              <dir
                name="directory">
                <dir
                  name="default"/>
              </dir>
              <dir
                name="sip_profiles">
                <dir
                  name="external"/>
                <dir
                  name="external-ipv6"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="bigbluebutton-config">
        <dir
          name="assets"/>
      </dir>
      <dir
        name="bigbluebutton-html5">
        <dir
          name="client">
          <dir
            name="stylesheets"/>
        </dir>
        <dir
          name="imports">
          <dir
            name="api">
            <dir
              name="annotations">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="audio">
              <dir
                name="client">
                <dir
                  name="bridge"/>
              </dir>
            </dir>
            <dir
              name="audio-captions">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="auth-token-validation">
              <dir
                name="server">
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="breakouts">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="breakouts-history">
              <dir
                name="server">
                <dir
                  name="handlers"/>
              </dir>
            </dir>
            <dir
              name="captions">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="common">
              <dir
                name="server"/>
            </dir>
            <dir
              name="connection-status">
              <dir
                name="server">
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="cursor">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
              </dir>
            </dir>
            <dir
              name="external-videos">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="group-chat">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="group-chat-msg">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="guest-users">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="local-settings">
              <dir
                name="server">
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="log-client">
              <dir
                name="server">
                <dir
                  name="methods"/>
              </dir>
            </dir>
            <dir
              name="meetings">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="pads">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="polls">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="presentation-pods">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="presentation-upload-token">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="presentations">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="screenshare">
              <dir
                name="client">
                <dir
                  name="bridge"/>
              </dir>
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="slides">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="users">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
                <dir
                  name="store"/>
              </dir>
            </dir>
            <dir
              name="users-infos">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="users-persistent-data">
              <dir
                name="server">
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="users-settings">
              <dir
                name="server">
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="video-streams">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="voice-call-states">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="modifiers"/>
              </dir>
              <dir
                name="utils"/>
            </dir>
            <dir
              name="voice-users">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
            <dir
              name="whiteboard-multi-user">
              <dir
                name="server">
                <dir
                  name="handlers"/>
                <dir
                  name="methods"/>
                <dir
                  name="modifiers"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="startup">
            <dir
              name="client"/>
            <dir
              name="server">
              <dir
                name="prom-metrics"/>
            </dir>
          </dir>
          <dir
            name="ui">
            <dir
              name="Types"/>
            <dir
              name="components">
              <dir
                name="actions-bar">
                <dir
                  name="actions-dropdown"/>
                <dir
                  name="create-breakout-room">
                  <dir
                    name="sort-user-list"/>
                </dir>
                <dir
                  name="quick-poll-dropdown"/>
                <dir
                  name="raise-hand"/>
                <dir
                  name="screenshare"/>
              </dir>
              <dir
                name="activity-check"/>
              <dir
                name="app"/>
              <dir
                name="audio">
                <dir
                  name="audio-controls">
                  <dir
                    name="input-stream-live-selector"/>
                </dir>
                <dir
                  name="audio-dial"/>
                <dir
                  name="audio-modal"/>
                <dir
                  name="audio-settings"/>
                <dir
                  name="audio-stream-volume"/>
                <dir
                  name="audio-test"/>
                <dir
                  name="autoplay"/>
                <dir
                  name="captions">
                  <dir
                    name="button"/>
                  <dir
                    name="speech"/>
                </dir>
                <dir
                  name="device-selector"/>
                <dir
                  name="echo-test"/>
                <dir
                  name="help"/>
                <dir
                  name="local-echo"/>
                <dir
                  name="permissions-overlay"/>
              </dir>
              <dir
                name="banner-bar"/>
              <dir
                name="breakout-join-confirmation"/>
              <dir
                name="breakout-room">
                <dir
                  name="message-form"/>
              </dir>
              <dir
                name="captions">
                <dir
                  name="button"/>
                <dir
                  name="reader-menu">
                  <dir
                    name="color-picker"/>
                </dir>
                <dir
                  name="speech"/>
                <dir
                  name="writer-menu"/>
              </dir>
              <dir
                name="chat">
                <dir
                  name="alert"/>
                <dir
                  name="chat-logger"/>
                <dir
                  name="message-form">
                  <dir
                    name="typing-indicator"/>
                </dir>
                <dir
                  name="time-window-list">
                  <dir
                    name="time-window-chat-item">
                    <dir
                      name="message-chat-item"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="common">
                <dir
                  name="button">
                  <dir
                    name="base"/>
                  <dir
                    name="button-emoji"/>
                </dir>
                <dir
                  name="checkbox"/>
                <dir
                  name="control-header">
                  <dir
                    name="left"/>
                  <dir
                    name="right"/>
                </dir>
                <dir
                  name="fallback-errors">
                  <dir
                    name="fallback-view"/>
                </dir>
                <dir
                  name="file-reader"/>
                <dir
                  name="fullscreen-button"/>
                <dir
                  name="icon"/>
                <dir
                  name="loading-screen"/>
                <dir
                  name="menu"/>
                <dir
                  name="modal">
                  <dir
                    name="base"/>
                  <dir
                    name="confirmation"/>
                  <dir
                    name="fullscreen"/>
                  <dir
                    name="header"/>
                  <dir
                    name="random-user"/>
                  <dir
                    name="simple"/>
                </dir>
                <dir
                  name="radio"/>
                <dir
                  name="switch"/>
                <dir
                  name="toast"/>
                <dir
                  name="tooltip"/>
              </dir>
              <dir
                name="components-data">
                <dir
                  name="users-context"/>
              </dir>
              <dir
                name="connection-status">
                <dir
                  name="button"/>
                <dir
                  name="icon"/>
                <dir
                  name="modal"/>
                <dir
                  name="status-helper"/>
              </dir>
              <dir
                name="debug-window"/>
              <dir
                name="dropdown">
                <dir
                  name="content"/>
                <dir
                  name="list">
                  <dir
                    name="item"/>
                  <dir
                    name="separator"/>
                  <dir
                    name="title"/>
                </dir>
              </dir>
              <dir
                name="end-meeting-confirmation"/>
              <dir
                name="error-screen"/>
              <dir
                name="external-video-player">
                <dir
                  name="custom-players"/>
                <dir
                  name="modal"/>
                <dir
                  name="subtitles"/>
                <dir
                  name="volume-slider"/>
              </dir>
              <dir
                name="graphql-provider"/>
              <dir
                name="layout">
                <dir
                  name="modal"/>
              </dir>
              <dir
                name="learning-dashboard"/>
              <dir
                name="legacy"/>
              <dir
                name="lock-viewers">
                <dir
                  name="context"/>
              </dir>
              <dir
                name="media">
                <dir
                  name="autoplay-overlay"/>
              </dir>
              <dir
                name="meeting-ended">
                <dir
                  name="rating"/>
              </dir>
              <dir
                name="mobile-app-modal"/>
              <dir
                name="muted-alert"/>
              <dir
                name="nav-bar">
                <dir
                  name="recording-indicator">
                  <dir
                    name="notify"/>
                </dir>
                <dir
                  name="settings-dropdown"/>
                <dir
                  name="talking-indicator"/>
              </dir>
              <dir
                name="notes">
                <dir
                  name="notes-dropdown"/>
              </dir>
              <dir
                name="notifications-bar">
                <dir
                  name="meeting-remaining-time"/>
              </dir>
              <dir
                name="pads">
                <dir
                  name="content"/>
                <dir
                  name="sessions"/>
              </dir>
              <dir
                name="poll">
                <dir
                  name="dragAndDrop"/>
                <dir
                  name="live-result"/>
              </dir>
              <dir
                name="polling"/>
              <dir
                name="presentation">
                <dir
                  name="presentation-menu"/>
                <dir
                  name="presentation-toolbar">
                  <dir
                    name="smart-video-share"/>
                  <dir
                    name="zoom-tool"/>
                </dir>
                <dir
                  name="presentation-uploader"/>
              </dir>
              <dir
                name="presentation-pod"/>
              <dir
                name="reload-button"/>
              <dir
                name="screenreader-alert"/>
              <dir
                name="screenshare">
                <dir
                  name="switch-button"/>
              </dir>
              <dir
                name="settings">
                <dir
                  name="submenus">
                  <dir
                    name="application"/>
                  <dir
                    name="data-saving"/>
                  <dir
                    name="notification"/>
                  <dir
                    name="video"/>
                </dir>
              </dir>
              <dir
                name="shortcut-help"/>
              <dir
                name="sidebar-content"/>
              <dir
                name="status-notifier"/>
              <dir
                name="text-input"/>
              <dir
                name="user-avatar"/>
              <dir
                name="user-info"/>
              <dir
                name="user-list">
                <dir
                  name="captions-list-item"/>
                <dir
                  name="chat-list-item"/>
                <dir
                  name="custom-logo"/>
                <dir
                  name="user-list-content">
                  <dir
                    name="breakout-room"/>
                  <dir
                    name="user-captions"/>
                  <dir
                    name="user-messages"/>
                  <dir
                    name="user-notes"/>
                  <dir
                    name="user-participants">
                    <dir
                      name="user-list-item"/>
                    <dir
                      name="user-list-participants">
                      <dir
                        name="list-item">
                        <dir
                          name="skeleton"/>
                      </dir>
                      <dir
                        name="user-actions"/>
                      <dir
                        name="users-title"/>
                    </dir>
                    <dir
                      name="user-options"/>
                  </dir>
                  <dir
                    name="user-polls"/>
                  <dir
                    name="waiting-users"/>
                </dir>
              </dir>
              <dir
                name="utils">
                <dir
                  name="hooks"/>
              </dir>
              <dir
                name="video-preview">
                <dir
                  name="virtual-background"/>
              </dir>
              <dir
                name="video-provider">
                <dir
                  name="many-users-notify"/>
                <dir
                  name="video-button"/>
                <dir
                  name="video-list">
                  <dir
                    name="video-list-item">
                    <dir
                      name="pin-area"/>
                    <dir
                      name="user-actions"/>
                    <dir
                      name="user-avatar"/>
                    <dir
                      name="user-status"/>
                    <dir
                      name="view-actions"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="waiting-users">
                <dir
                  name="alert"/>
                <dir
                  name="guest-policy"/>
              </dir>
              <dir
                name="webcam">
                <dir
                  name="drop-areas"/>
              </dir>
              <dir
                name="whiteboard">
                <dir
                  name="cursors"/>
              </dir>
            </dir>
            <dir
              name="services">
              <dir
                name="LiveDataEventBroker"/>
              <dir
                name="LocalCollectionSynchronizer"/>
              <dir
                name="api"/>
              <dir
                name="audio-manager"/>
              <dir
                name="auth"/>
              <dir
                name="bbb-webrtc-sfu"/>
              <dir
                name="features"/>
              <dir
                name="locale"/>
              <dir
                name="meeting-settings"/>
              <dir
                name="mobile-app"/>
              <dir
                name="notification"/>
              <dir
                name="settings"/>
              <dir
                name="storage"/>
              <dir
                name="subscription-registry"/>
              <dir
                name="unread-messages"/>
              <dir
                name="users-settings"/>
              <dir
                name="virtual-background"/>
              <dir
                name="webrtc-base"/>
            </dir>
            <dir
              name="stylesheets">
              <dir
                name="styled-components"/>
            </dir>
          </dir>
          <dir
            name="utils"/>
        </dir>
        <dir
          name="private">
          <dir
            name="static">
            <dir
              name="guest-wait"/>
          </dir>
        </dir>
        <dir
          name="public">
          <dir
            name="compatibility"/>
        </dir>
        <dir
          name="server"/>
      </dir>
      <dir
        name="bigbluebutton-tests">
        <dir
          name="gns3"/>
        <dir
          name="playwright">
          <dir
            name="api"/>
          <dir
            name="audio"/>
          <dir
            name="breakout"/>
          <dir
            name="chat"/>
          <dir
            name="connectionFailure"/>
          <dir
            name="connectionStatus"/>
          <dir
            name="core"/>
          <dir
            name="customparameters"/>
          <dir
            name="layouts"/>
          <dir
            name="learningdashboard"/>
          <dir
            name="notifications"/>
          <dir
            name="options"/>
          <dir
            name="polling"/>
          <dir
            name="presentation"/>
          <dir
            name="screenshare"/>
          <dir
            name="sharednotes"/>
          <dir
            name="stress"/>
          <dir
            name="user"/>
          <dir
            name="virtualizedlist"/>
          <dir
            name="webcam"/>
          <dir
            name="whiteboard"/>
        </dir>
        <dir
          name="puppeteer">
          <dir
            name="audio"/>
          <dir
            name="breakout"/>
          <dir
            name="chat"/>
          <dir
            name="core"/>
          <dir
            name="customparameters"/>
          <dir
            name="notifications"/>
          <dir
            name="polling"/>
          <dir
            name="presentation"/>
          <dir
            name="screenshare"/>
          <dir
            name="sharednotes"/>
          <dir
            name="stress"/>
          <dir
            name="tests-not-ready"/>
          <dir
            name="trigger"/>
          <dir
            name="user"/>
          <dir
            name="virtualizedlist"/>
          <dir
            name="webcam"/>
          <dir
            name="whiteboard"/>
        </dir>
      </dir>
      <dir
        name="bigbluebutton-web">
        <dir
          name="grails-app">
          <dir
            name="assets">
            <dir
              name="javascripts"/>
            <dir
              name="stylesheets"/>
          </dir>
          <dir
            name="conf">
            <dir
              name="spring"/>
          </dir>
        </dir>
        <dir
          name="pres-checker">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="bigbluebutton">
                    <dir
                      name="prescheck"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="groovy">
            <dir
              name="org">
              <dir
                name="bigbluebutton">
                <dir
                  name="api">
                  <dir
                    name="messaging"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="resources"/>
        </dir>
      </dir>
      <dir
        name="docs">
        <dir
          name="docs">
          <dir
            name="data"/>
        </dir>
        <dir
          name="src">
          <dir
            name="components">
            <dir
              name="APITableComponent"/>
            <dir
              name="HomepageFeatures"/>
          </dir>
          <dir
            name="css"/>
          <dir
            name="pages"/>
        </dir>
      </dir>
      <dir
        name="record-and-playback">
        <dir
          name="core">
          <dir
            name="resources">
            <dir
              name="raw">
              <dir
                name="183f0bf3a0982a127bdb8161e0c44eb696b3e75c-1630430006889"/>
              <dir
                name="1b199e88-7df7-4842-a5f1-0e84b781c5c8">
                <dir
                  name="presentations"/>
              </dir>
              <dir
                name="2364d22e-b650-40b4-9c7c-e72f66b093ef"/>
              <dir
                name="2a1de53edf0543d950056bf3c0d4d357eba3383f-1630607370684"/>
              <dir
                name="5e772bb3-5a0b-4759-b21b-153c734b777b"/>
              <dir
                name="8774263b-c4a6-4078-b2e6-46b7d4bc91c1"/>
              <dir
                name="974a4b8c-5bf7-4382-b4cd-eb26af7dfcc2"/>
              <dir
                name="b443a8e1-1677-4fde-a56c-aab11447ea9a"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="presentation">
          <dir
            name="playback">
            <dir
              name="presentation">
              <dir
                name="0.81">
                <dir
                  name="acornmediaplayer">
                  <dir
                    name="themes">
                    <dir
                      name="access"/>
                    <dir
                      name="barebones"/>
                    <dir
                      name="darkglass"/>
                  </dir>
                </dir>
                <dir
                  name="css"/>
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="0.9.0">
                <dir
                  name="acornmediaplayer">
                  <dir
                    name="themes">
                    <dir
                      name="access"/>
                    <dir
                      name="barebones"/>
                    <dir
                      name="bigbluebutton"/>
                    <dir
                      name="darkglass"/>
                  </dir>
                </dir>
                <dir
                  name="css"/>
                <dir
                  name="lib"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="screenshare">
          <dir
            name="playback">
            <dir
              name="css"/>
            <dir
              name="js"/>
            <dir
              name="video-js">
              <dir
                name="lang"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="slides">
          <dir
            name="playback">
            <dir
              name="slides">
              <dir
                name="css"/>
              <dir
                name="lib"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="video">
          <dir
            name="playback">
            <dir
              name="video">
              <dir
                name="css"/>
              <dir
                name="js"/>
              <dir
                name="video-js">
                <dir
                  name="lang"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Pascal"/>
    <language
      name="Python"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <pascal_options
    allow_embedded_sql="true"
    display="Original"
    linkage_case="Lowercase"
    linkage_prepend_text=""
    parse_standard_library_implementation="false"
    version="Delphi"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
